.recipe-wrapper {
    padding: 60px 0;

    .back-button {
        display: inline-block;
        margin-top: 10px;
        color: $orange;
        text-decoration: none;
    }

    #recipe {
        background-color: #ffffff;

        .background-thumbnail {
            position: relative;
            height: 250px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            
            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba($darkBlue, 0.5);
            }
        }

        .content {
            padding: 0 15px 15px;

            .info {
                h1 {
                    margin-top: 15px;
                    color: $darkBlue;
                    text-align: center;
                }

                p {
                    color: #666666;
                }

                ul {
                    text-align: center;
                    margin: 30px 0;

                    li {
                        margin-right: 15px;

                        span {
                            color: $orange;
                            font-weight: 600;
                        }
                    }
                }
            }

            .lists {
                margin: 30px 0;

                h3 {
                    font-size: 24px;
                    color: $darkBlue;
                    margin: 0;
                    padding-bottom: 15px;
                }

                li {
                    display: list-item;
                    padding: 10px 0;
                    border-bottom: 1px solid #eeeeee;
                }

                ul {
                    list-style-type: disc;
                }

                ol {
                    list-style-type: decimal;
                }

                ol, ul {
                    list-style-position: outside;
                    margin: 0;
                    padding: 0;
                    margin-left: 30px;
                }
            }
        }
    }

    .recipe-holder {
        padding: 0;
        margin: 0;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        
        .recipe {
            width: 300px;
            background-color: #ffffff;
            margin: 10px;
            
            .thumbnail-holder {
                position: relative;
                width: 100%;
                height: 150px;
                overflow: hidden;
    
                .thumbnail {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    transition: all 0.3s ease-in-out;

                    .thumbnail-overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba($darkBlue, 0.5);
                    }
                }
            }

            .content {
                padding: 0 15px;

                h3 {
                    color: $darkBlue;
                    text-align: center;
                    font-size: 26px;
                    margin: 15px 0;

                    &:visited {
                        color: $darkBlue;
                    }
                }
            }

            .read-recipe {
                width: 100%;
                background-color: $orange;
                padding: 2.5px 0;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: lighten($orange, 7%);
                }

                p {
                    text-align: center;
                    color: #ffffff;
                }
            }

            &:hover, &:focus {
                .thumbnail {
                    transform: scale(1.2);
                }
            }
        }
    }
}