#hello-title {
    font-size: 32px;
    color: $darkBlue;

    span {
        font-weight: 300;
    }
}

ul {
    padding: 0;
    list-style-type: none;

    li {
        display: inline-block;
        margin-right: 10px;

        p {
            color: $darkBlue;
        }

        a.cancel-account-button {
            font-size: 18px;
        }
    }
}