<div id="dashboard">
    <div id="dashboard-nav">
        <div class="wrapper-600">
            <ul>
                <li>
                    <a href="#" class="active">Meals</a>
                </li><li>
                    <a href="#">Statistics</a>
                </li><li>
                    <a href="#">Trends</a>
                </li><li>
                    <a href="#">Goals</a>
                </li><li>
                    <a href="#">Recipes</a>
                </li>
            </ul>
        </div>
    </div>
    <%= yield(:dashboard_page_body) %>
</div>